<header role="banner" id="fh5co-header">
    <div class="container">
      <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
           <a class="navbar-brand" href="index.html">BMDG Partners</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" data-nav-section="work"><span>Trabajos</span></a></li>
              <li><a href="#" data-nav-section="testimonials"><span>Opiniones</span></a></li>
              <li><a href="#" data-nav-section="services"><span>Servicios</span></a></li>
              <li><a href="#" data-nav-section="contact"><span>Contacto</span></a></li>
            </ul>
          </div>
        </nav>
      <!-- </div> -->
    </div>
</header>
