
<nav class="fh5co-nav" role="navigation">
  <div class="top-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div id="fh5co-logo">
            <a href="/">BMDG<span>PARTERNS</span>
            </a>
          </div>
        </div>
        <div class="col-xs-10 col-md-9 text-right menu-1">
          <ul>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#work">Trabajos</a></li>
            <!--li><a href="product.html">Product</a></li-->
            <!--li class="has-dropdown">
              <a href="blog.html">Blog</a>
              <ul class="dropdown">
                <li><a href="#">Web Design</a></li>
                <li><a href="#">eCommerce</a></li>
                <li><a href="#">Branding</a></li>
                <li><a href="#">API</a></li>
              </ul>
            </li-->
            <!--li class="btn-cta"><a href="#"><span>Login</span></a></li-->
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
