{% load static %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://use.fontawesome.com/fccb8f0469.js"></script>
    <meta charset="UTF-8">
    <title>BMDG Partners</title>
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">
</head>

<body>
    <section class="layer plans">
        <section>
            <section class="third lift plan-tier" onclick="location.href='#';">
                <h4>Basic</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">5</span><sub> /mo</sub></h5>
                <p class="early-adopter-price">Early adopter price</p><br>
                <del>$10/mo</del>
                <ul>
                    <li><strong>1</strong> site</li>
                    <li><strong>1</strong> user</li>
                    <li><strong>Free hosting</strong> (beta)</li>
                    <li>14 day <strong>free trial</strong></li>
                </ul>
            </section>
            <section class="third lift plan-tier callout" onclick="location.href='#';">
                <h6>Wordpress </h6>
                <h4>Team</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">20</span><sub> /mo</sub></h5>
                <p class="early-adopter-price">Early adopter price</p><br>
                <del>$40/mo</del>
                <ul>
                    <li class="adv">
                      <div class="bullet-icon">
                        <i class="fa fa-shield fa-vertical-center"></i>
                      </div>
                      <div class="bullet-content">
                        <h3>Actualizaciónes Automaticas</h3>
                        <p class="adv-explained">
                          Cada mes actualizamos nuestros sitios con los ultimos upgrades de seguridad de Wordpress.
                        </p>
                      </div>
                    </li>
                    <li class="adv">
                      <div class="bullet-icon">
                        <i class="fa fa-upload fa-vertical-center"></i>
                      </div>
                      <div class="bullet-content">
                        <h3>Copiad de Seguridad</h3>
                        <p class="adv-explained">
                          Copias de seguridad semanales y antes de cada actualización.
                        </p>
                      </div>
                    </li>
                    <li class="adv">
                      <div class="bullet-icon">
                        <i class="fa fa-bar-chart fa-vertical-center"></i>
                      </div>
                      <div class="bullet-content">
                        <h3>Trafico Escalable</h3>
                        <p class="adv-explained">
                          Automaticamente distribuye los picos de trafico si cargos adicionales.
                        </p>
                      </div>
                    </li>
                </ul>
            </section>
            <section class="third lift plan-tier" onclick="location.href='#';">
                <h4>Agency</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">100</span><sub> /mo</sub></h5>
                <p class="early-adopter-price">Early adopter price</p><br>
                <del>$200/mo</del>
                <ul>
                    <li><strong>Unlimited</strong> sites</li>
                    <li><strong>Unlimited</strong> users</li>
                    <li><strong>Free hosting</strong> (beta)</li>
                    <li>14 day <strong>free trial</strong></li>
                </ul>
            </section>
            <div style="clear: both"></div>
        </section>
    </section>


</body>

</html>
