//Color Start
$grey: #66615b;
$dark-blue: #293942;
$light-blue: #0093ef;
$dark-blue-light: #bdc3c7;
$flat-blue: #2980b9;
$flat-clouds: #ecf0f1;
// Fonts
$font-quick: "Quicksand", sans-serif;

h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.red{
  color: #e74c3c;
}

p{
  font-family: $font-quick,
}

.grey{
  color: $grey;
}

.sidebar .nav p,
.off-canvas-sidebar .nav p{
  font-weight: 500;
}

.credit-bar::after{
  border-bottom: solid $dark-blue 1px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.154;
	background: $flat-blue !important;
  -webkit-clip-path: polygon(0 45%, 57% 45%, 55% 100%, 0 100%);
  clip-path: polygon(0 45%, 57% 45%, 50% 100%, 0 100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: "";
}

.credit-bar{
  & > #credits-icon{
    width: 20%;
    margin: auto;
    font-size: 36px;
    display: inline-block;
    color: $flat-blue;
  }
  & > #credits-text-container{
    width: 80%;
    display: inline-block;
    & > p{
      margin-bottom: 0px;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 22px;
      color: $flat-blue;
    }
    & > #p-credits{
      line-height: 4px;
      font-weight: bold;
      font-size: 20px;
      color: $grey;
    }
  }
}

label{
  font-weight: 100;
}

/* Buttons Start */
.btn{
  border-radius: 2px;
}

.btn-cta{
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
}

.btn-cta:active,
.btn-cta:focus,
.btn-cta:hover
{
  background-color: #c0392b;
  border-color: #c0392b;

}

.btn-cta[disabled],
.btn-cta[disabled]:hover{
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}
/* Buttons End */

/* FIXES START */
.fix-item{
  background: #fff;
  list-style: none;
  height: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  color: #262626;
  font-size: 14px;
  -webkit-touch-callout: none !important;
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

.fix-item-description{
  overflow: hidden;
  height: 100%;
  width: 95%;
  margin: 0px;
  padding: 1%;
}

.p-item-description{
  margin-bottom: 0px;
}

.p-item-date{
  font-size: 10px;
  color: $grey;
  margin-bottom: 0px;
}

.icon-close,
.icon-edit,
{
  margin-left: 5px;
}

.icon-edit-files{
  margin-left: 1px;

}

.icon-close:hover,
.icon-edit:hover,
.icon-edit-files:hover
{
  color: $flat-blue;
}


.main-panel{
  background-color: $flat-clouds;
}


.main-panel::after {
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  //background-image: url('../img/rocket_2.jpg');
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container-fix-edit{
  background-color: white;
}

.col-fix-list{
  padding-left: 2%;
  padding-right: 2%;
}

span.help-block{
  color: $grey;
}

.col-edit-fix{
  height: 100%;
  background-color: white;
  padding: 10px;
  padding-top: 30%;
}

#col-add-attachments{
  padding: 0px;
  margin-top: 10%;
}

#container-request-fix,
{
  height: 100%;
}

.full-heigh{
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.col-fix-list{
  margin-top: 1%;
}

.fix-active{
  border: solid $flat-blue 1px !important;
}

/* Forms Style */

.form-control{
  font-family: $font-quick;
}

#formEditfix{
  font-family: $font-quick;
  height: 200px;
  border: $grey solid 1px;
}

.add-fix-label{
  font-weight: 100;
  font-size: large;
}

.drop-zone{
  border-bottom: $grey solid 1px;
  border-top: $grey solid 1px;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
  height: 50px;
  opacity: 0.8;

  & > p.attachment-tag{
    font-size: 10px;
    line-height: 1.4em;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.4em;
    padding: 12px;
    border-radius: 3px;
    display: flex;
    margin-bottom: 5px;
    & > i {
      font-size: 25px;
      margin-right: 10px;
    }
  }
}

.add-attachment{
  font-size: 12px;
  margin-bottom: 0px;
}

p.fix-attachment-name{
  margin-bottom: 0px;
  font-size: 12px;
  & > i{
    font-size: 8px;
    float: right;
  }
}

.half-width{
  width: 50%;
  display: inline-block;
}

.progress{
  margin-bottom: 0px;
}

.dev-panel-title{
  float: left;
  margin-bottom: 0px;
}


a.active{
  & > p {
    color: $light-blue;
    cursor: pointer;
  }
}


/* Profile Edit Start */
.profile-edit{
  background-color: $light-blue;
}


/* Profile Edit End */


/* SideBar START */
.row-stats{
  padding-left: 30px;
  padding-right: 30px;
}


.logo{
  border-style: none !important;
  & > a {
    & > img{
      width: 80%;
    }
  }
}


.col-stats{
  border-color: $grey;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  padding: 10px;
}

.p-stats{
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px;
}


.fix-item{
  border: solid white 1px;
  border-radius: 0px;
}

.form-control{
  border-radius: 0px;
}
/* SideBar END */



input[type="checkbox"]{
  margin: 3px;
  line-height: 20px;
  font-size: 20px;
}


/* Capsules START */
.capsule-fix-description{
  width: 80%;
  margin: auto;
  display: inline-block;
}

.capsule-fix-stats{
  width: 20%;
  margin: auto;
  display: inline-block;
}

.capsules-number-warning{
  color: $grey;
  font-size: 12px;
}
/* Capsules END */


/* FOOTER START */

.col-footer{
  float: none;
  position: absolute;
  bottom: 0px;
  & > p{
    color: $dark-blue;
    font-size: 10px !important;
    & > i {
      font-size: 10px !important;
      float: none;
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
    & > span {
      font-size: 8px !important;
    }
  }
}

/* FOOTER END */


/* CAPSULES PANELS START */
.panel{
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
}

.panel-heading{
  padding: 5px;
  border: none;
  border-radius: 0px;
}


/* CAPSULES PANER END */
